version: '3.7'
services:
  prefect-agent:
    container_name: prefect-agent-vz
    command: ["/root/agent/start_agent.sh"]
    build: .
    restart: always
    volumes:
      - /tmp:/tmp
      - ./prefect_bootstrap:/root/agent
      - ./make_kv_store.py:/root/make_kv_store.py
      - ./cris_import:/root/cris_import
      - ./afd_ems_incidents:/root/afd_ems_incidents
      - ./cr3_ocr_narrative_extract_diagram:/root/cr3_ocr_narrative_extract_diagram
      - ./db_permission_grantor:/root/db_permission_grantor
      - /var/run/docker.sock:/var/run/docker.sock
    env_file:
      - ./prefect_agent_environment_variables.env
